<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976346295511-ose8nb8bt7n92mvb4m9sv6f7gknkb8te.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976346295511-ose8nb8bt7n92mvb4m9sv6f7gknkb8te</string>
	<key>API_KEY</key>
	<string>AIzaSyD-0HewtPFslRUj1viWNv1LiLGsbAZvySM</string>
	<key>GCM_SENDER_ID</key>
	<string>976346295511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleHackathon2023</string>
	<key>PROJECT_ID</key>
	<string>flutter-dash-g23</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-dash-g23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976346295511:ios:3cdfc4698767365a8e5492</string>
</dict>
</plist>